body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  font-family:sans-serif;
  line-height:2.5em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}
a{
  text-decoration: none;
}
a:link{
  color: #FFFFFF;
}
a:hover{
  color: #5a5a5a;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
.author{
  font-size: 0.75em;
  font-weight:100;
  padding-bottom: 1em;
}
figcaption{
  font-size: 1em;
  font-weight:100;
}
h1{
  font-size: 4em;
  font-weight:600;
  line-height: 2em;

}
h3{
  font-size: 2em;
  font-weight:500;
  line-height: 1.5em;
  padding-bottom: 0.25em;
}
